<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>

    <add key="showPath" value= "\\webmarketing.prod.quest.corp\DropBox\Web Team\Testing\MKTAutomation_Quest\MKTAutomation_Quest_Code\" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
